html {
  scroll-behavior: smooth;
  scroll-padding-top: $header-height-desktop-scrolled;
}

body {
  background-color: $color-background;
  overflow-x: hidden;
  padding-top: $header-height-mobile;

  @include respond-to(md) {
    padding-top: $header-height-desktop;
  }
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - $header-height-mobile);

  @include respond-to(md) {
    min-height: calc(100vh - $header-height-desktop);
  }
}

section {
  padding: $spacing-xxl 0;
}

.sr-only {
  @include visually-hidden;
}