/* using google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: $font-primary;
  font-size: $font-size-base;
  font-weight: 400;
  color: $color-text;
  line-height: $line-height-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  line-height: $line-height-heading;
  font-weight: 700;
  color: $color-text;
  margin-bottom: $spacing-md;
}

h1 {
  font-size: $font-size-xxl;

  @include respond-to(md) {
    font-size: $font-size-xxxl;
  }
}

h2 {
  font-size: $font-size-xl;

  @include respond-to(md) {
    font-size: $font-size-xxl;
  }
}

h3 {
  font-size: $font-size-large;

  @include respond-to(md) {
    font-size: $font-size-xl;
  }
}

p {
  margin-bottom: $spacing-md;
}

a {
  color: $color-primary;
  text-decoration: none;
  @include transition(color);

  &:hover {
    color: darken($color-primary, 10%);
  }

  @include focus-visible;
}